@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
a,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #8D96BD;
  line-height: 1.8;
}

.container-lg,
.container-md,
.container-sd {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.container-lg {
  max-width: 1235px;
}

.container-md {
  max-width: 920px;
}

.container-sd {
  max-width: 750px;
}

a {
  color: #8D96BD;
  text-decoration: none;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.intro-title {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #3D4F9F;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #3D4F9F;
}

.header {
  padding: 18px 0;
  border-bottom: 1px solid #D8E3FE;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
.header__navigation {
  gap: 73px;
}
.header__navigation-logo a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
}
.header__navigation-logo a:hover {
  background-color: mediumpurple;
  transform: scale(1.2);
  transition: 0.3s;
}
.header__navigation nav ul {
  gap: 42px;
}
.header__navigation nav ul a.active, .header__navigation nav ul a:hover:not(.active) {
  font-weight: 700;
  color: #5E81FE;
}
.header__navigation nav ul a:hover:not(.active) {
  font-weight: 400;
  transition: 0.3s;
}
.header__social {
  gap: 44px;
}
.header__social-icons ul {
  gap: 38px;
}
.header__social-cta a {
  display: inline-block;
  background: #D2E1FF;
  border-radius: 2px;
  padding: 13px 21px;
  color: #3A79FF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-weight: 700;
}

.plane {
  padding-top: 90px;
  background: url("/assets/bg.png") no-repeat 50% 100%;
  height: 578px;
  border-bottom: 1px solid #D8E3FE;
}
.plane__inner {
  text-align: center;
}
.plane__text {
  max-width: 400px;
  margin: 0 auto;
}
.plane__title {
  font-size: 48px;
  margin-bottom: 20px;
}
.plane__title-light {
  font-weight: 300;
}

.company {
  padding: 60px 0;
  border-bottom: 1px solid #D8E3FE;
}
.company__menu {
  align-items: flex-end;
}

.desktop {
  background: #F5F8FF;
  padding: 170px 0;
  overflow: hidden;
  border-bottom: 1px solid #D8E3FE;
}
.desktop__col-plan {
  width: 50%;
}
.desktop__intro-title {
  margin-bottom: 20px;
  padding-left: 5px;
}
.desktop__title {
  font-size: 36px;
  margin-bottom: 20px;
}
.desktop__text {
  margin-bottom: 60px;
  max-width: 400px;
}
.desktop__example {
  position: relative;
}
.desktop__example:after {
  display: block;
  position: absolute;
  background: url("/assets/illustration.svg");
  height: 736px;
  width: 854px;
  content: "";
  top: -103px;
  right: -60%;
}
.desktop__btn {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
}
.desktop__btn-view {
  color: #ffffff;
  background: #4C85FF;
  border: none;
  font-weight: bold;
  padding: 13px 26px;
}
.desktop__btn-see {
  color: #ADB4D2;
  padding: 12px 25px;
  border: 1px solid #ADB4D2;
  background: inherit;
}

.about {
  padding-top: 170px;
  margin-bottom: 170px;
  background: url("/assets/bg-clouds.png") no-repeat 50% 100%;
}
.about__inner {
  text-align: center;
}
.about__intro-title {
  margin-bottom: 20px;
}
.about__title {
  font-size: 24px;
  margin-bottom: 90px;
}
.about__items {
  margin-bottom: 120px;
}
.about__box {
  width: 140px;
}
.about__box-img {
  margin-bottom: 25px;
}
.about__box-title {
  margin-bottom: 25px;
  color: #4074F8;
  font-weight: 700;
}
.about__box-text {
  font-size: 11px;
  font-weight: 500;
}
.about__line-between {
  width: 28px;
  height: 1px;
  background: #DAE4FE;
  margin-top: 125px;
}
.about__link {
  gap: 30px;
}
.about__link-or {
  position: relative;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.about__link-more {
  background: #FFD7D7;
  font-size: 13px;
  color: #D43F3F;
  padding: 10px 16px;
}
.about__link-started {
  background: #D2E1FF;
  color: #3D4F9F;
  padding: 10px 16px;
  font-size: 13px;
}
.about__link-or:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background: #DAE4FE;
  top: 10px;
  left: 23px;
}
.about__link-or:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  top: 10px;
  right: 23px;
  background: #DAE4FE;
}

.promises {
  overflow-x: hidden;
}
.promises__customers {
  background: #6888FF;
  color: #f0f0f0;
  padding: 50px 70px;
  text-align: right;
  width: 50%;
}
.promises__users {
  background: #E9EFFF;
  padding: 50px 70px;
  width: 50%;
}
.promises__text {
  width: 250px;
}
.promises__number {
  font-size: 48px;
}
.promises__inner {
  position: relative;
}
.promises__inner:before {
  content: "";
  width: 100vw;
  height: 100%;
  background: #6888FF;
  position: absolute;
  right: 100%;
  display: block;
}
.promises__inner:after {
  display: block;
  content: "";
  width: 100vw;
  height: 100%;
  background: #E9EFFF;
  position: absolute;
  left: 100%;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
