.desktop {
  background: #F5F8FF;
  padding: 170px 0;
  overflow: hidden;
  border-bottom: 1px solid #D8E3FE;

  &__col-plan {
    width: 50%;
  }

  &__intro-title {
    margin-bottom: 20px;
    padding-left: 5px;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 400px;
  }

  &__example {
    position: relative;
  }

  &__example:after {
    display: block;
    position: absolute;
    background: url("/assets/illustration.svg");
    height: 736px;
    width: 854px;
    content: "";
    top: -103px;
    right: -60%;
  }

  &__btn {
    font-family: $font-quicksand;
    font-size: 13px;

    &-view {
      color: $white-color;
      background: $btn-color;
      border: none;
      font-weight: bold;
      padding: 13px 26px;
    }

    &-see {
      color: #ADB4D2;
      padding: 12px 25px;
      border: 1px solid #ADB4D2;
      background: inherit;
    }


  }
}