.footer {
  font-family: $font-quicksand;
  font-size: $font-sm;
  width: 100%;
  background-color: #fff;

  &__wrapper {
    padding: 90px 0;
  }

  .row {
    margin-bottom: 15px;
  }

  &__navigation {
    gap: 73px;

    &-logo {
      $logo-dimensions: 26px;

      a {
        display: inline-block;
        width: $logo-dimensions;
        height: $logo-dimensions;
        background-color: $secondary-accent-color;
        border-radius: 50%;

        &:hover {
          background-color: mediumpurple;
          transform: scale(1.2);
          transition: .3s;
        }
      }
    }

    nav {


      ul {
        gap: 42px;

        a {
          display: inline-block;

          &.active,
          &:hover:not(.active) {
            font-weight: 700;
            color: $secondary-accent-color;
            transition: .3s;
          }

          &.active:hover {
            transform: scale(1.2);
          }

          &:hover:not(.active) {
            font-weight: 400;
            transition: .3s;
            transform: scale(1.2);
          }
        }

      }
    }

  }

  &__social {
    gap: 44px;


    &-icons {
      ul {
        gap: 38px;

        i {
          display: inline-block;
          font-size: $font-lg;

          &:hover {
            color: $title-color;
            transition: .3s;
            transform: scale(1.1);
          }
        }
      }
    }

    &-cta {
      a {
        display: inline-block;
        background: $bg-link;
        border-radius: 2px;
        padding: 13px 21px;
        color: $color-link;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: $font-smm;
        font-weight: 700;
      }
    }

  }

  &__copy {
    margin-left: 100px;
    font-family: $font-quicksand;
    font-size: $font-sm;
  }

}