.footer {

  @media (min-width: $media-header) {

  }


  @media (max-width: $media-header) {
    &__copy {
      text-align: center;
      margin: 10px;
    }

    & {
      min-height: $header_height;
      max-height: $header_height;
    }


    &__social-cta {
      display: none;
    }

    .row {
      justify-content: space-between;
    }

    nav {
      z-index: 100;
      box-shadow: 0px 13px 14px -11px rgb(0, 0, 0, 62%);
    }

    &__wrapper {
      position: relative;
    }


    &__social {
      width: initial;
    }


    &__navigation {
      width: 18%;
      min-width: 140px;


      nav {
        width: 100%;
        display: none;
        position: absolute;
        top: $header_height;
        left: 0;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);

        ul {
          flex-direction: column;
          gap: 0;
        }

        a {
          display: block;
          text-align: center;
          padding: 10px 0;
          font-size: $font-lg;

          &:hover {
            color: white !important;
            background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
            transition: .3s;
          }
        }

      }
    }
    &__media-menu-btn {
      &:checked {
        & + nav {
          display: initial;
        }
      }
    }

  }
  @media (max-width: $breakpoint-md) {
    &__wrapper {
      padding: 50px 0;
    }
  }

  @media (max-width: $media-header-400) {
    &__navigation {
      gap: 20px;
    }
    &__social-icons ul {
      gap: 25px;
    }
    &__wrapper {
      padding: 30px 0;
    }
  }
}