.features {
  padding-top: 170px;
  margin-bottom: 170px;
  background: url("/assets/bg-clouds.png") no-repeat 50% 100%;

  &__inner {
    text-align: center;
  }

  &__intro-title {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 90px;
  }

  &__items {
    margin-bottom: 120px;
  }

  &__box {
    width: 140px;


    &-img {
      margin-bottom: 25px;
    }

    &-title {
      margin-bottom: 25px;
      color: #4074F8;
      font-weight: 700;
      //position: relative;
    }

    //&-title:before {
    //  position: absolute;
    //  content: "";
    //  width: 28px;
    //  height: 1px;
    //  background: #DAE4FE;
    //}

    &-text {
      font-size: 11px;
      font-weight: 500;
    }


  }

  &__line-between {
    width: 28px;
    height: 1px;
    background: #DAE4FE;
    margin-top: 125px;
  }

  &__link {
    gap: 30px;

    &-or {
      position: relative;
      font-size: 11px;
      font-family: $font-open-sans;
      text-transform: uppercase;
    }

    &-more {
      background: #FFD7D7;
      font-size: 13px;
      color: #D43F3F;
      padding: 10px 16px;
    }

    &-started {
      background: #D2E1FF;
      color: #3D4F9F;
      padding: 10px 16px;
      font-size: 13px;
    }


    &-or:after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background: #DAE4FE;
      top: 10px;
      left: 23px;
    }

    &-or:before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      top: 10px;
      right: 23px;
      background: #DAE4FE;
    }
  }
}