.news {
  @media (max-width: $breakpoint-lgm) {
    & {
      padding: 80px 0;
    }
    &__form-input {
      width: 200px;
    }
    &__form-btn {
      width: 150px;
    }
  }
  @media (max-width: $breakpoint-md) {
    .row {
      flex-direction: column;
      gap: 20px;
    }

  }
}