$container-lg-width: 1235px;
$container-mdm-width: 990px;
$container-md-width: 920px;
$container-sd-width: 750px;
$main-font: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$font-xlll: 48px;
$font-xll: 40px;
$font-xl: 36px;
$font-lgm: 24px;
$font-lg: 20px;
$font-mdm: 16px;
$font-md: 15px;
$font-smm: 13px;
$font-sm: 12px;
$font-msm: 11px;
$font-ms: 10px;

$header_height: 83px;


$bg-link: #D2E1FF;
$color-link: #3A79FF;
$accent-color: #8D96BD;
$secondary-accent-color: #5E81FE;
$title-color: #3D4F9F;
$btn-color: #4C85FF;
$white-color: #ffffff;
$features-color: #4074F8;
$features-color-line: #DAE4FE;

$stats-color-first: #6888FF;
$stats-color-second: #E9EFFF;

$blog-bg: #F5F8FF;
$blog-border-slide: #D8E3FE;

$blog-bg-circles: #D1D6E3;
$blog-bg-circles-active: #5283FF;

$bg-input: #EFEFF7;
$bg-btn: #4D6CE1;

$quotes-bg: #EAF0FF;

$bg-hover: #C4C6D0FF;

$media-header: 900px;
$media-header-400: 400px;


$breakpoint-xs: 450px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lgm: 850px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xll: 1400px;